<?xml version="1.0" encoding="utf-8"?>
<!--
  Manifest exclusivo del build DEBUG. Se fusiona con el de main.
  Habilita la network security config que permite HTTP local (10.0.2.2).
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:networkSecurityConfig="@xml/network_security_config" />

</manifest>
